In [1]:
import pandas as pd
import json
import requests

In [2]:
locations = pd.read_csv('/Users/preethamvignesh/Desktop/OpenAq_Data/Cities_locations/India_cities_locations copy.csv')
locations.head()

,Unnamed: 0,Country,City,Location,Longitude,Latitude
0,0,IN,Agartala,"Kunjaban, Agartala - Tripura SPCB",91.288736,23.862828
1,1,IN,Agra,"Sector-3B Avas Vikas Colony, Agra - UPPCB",77.962370,27.194120
2,2,IN,Agra,"Manoharpur, Agra - UPPCB",78.019360,27.237110
3,3,IN,Agra,"Sanjay Palace, Agra - UPPCB",78.005981,27.198658
4,4,IN,Ahmedabad,"Rakhial, Ahmedabad - IITM",72.625775,23.016834

In [3]:
locations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426 entries, 0 to 425
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  426 non-null    int64
 1   Country     426 non-null    object
 2   City        426 non-null    object
 3   Location    426 non-null    object
 4   Longitude   426 non-null    float64
 5   Latitude    426 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 20.1+ KB

In [4]:
locations.Location.apply(str)

0              Kunjaban, Agartala - Tripura SPCB
1      Sector-3B Avas Vikas Colony, Agra - UPPCB
2                       Manoharpur, Agra - UPPCB
3                    Sanjay Palace, Agra - UPPCB
4                      Rakhial, Ahmedabad - IITM
                         ...
421                               GVMC Ram Nagar
422                              GVM Corporation
423                                Visakhapatnam
424             Collector Office, Yadgir - KSPCB
425            Gobind Pura, Yamuna Nagar - HSPCB
Name: Location, Length: 426, dtype: object

In [5]:
locations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426 entries, 0 to 425
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  426 non-null    int64
 1   Country     426 non-null    object
 2   City        426 non-null    object
 3   Location    426 non-null    object
 4   Longitude   426 non-null    float64
 5   Latitude    426 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 20.1+ KB

In [6]:
def takeOutWhitespace(x):
    x = ''.join(e for e in x if (e != ' '))
    return x

In [7]:
myString = takeOutWhitespace(locations.Location[2])
print(myString)

Manoharpur,Agra-UPPCB

In [8]:
#First take out all the whitespace in locations
locations.Location = locations.Location.apply(lambda x: takeOutWhitespace(x))

In [9]:
#Creating a list of unique locations to remove duplicates
locationsList = locations.Location.unique()
loc_length = len(locationsList)
print(loc_length)

343

In [10]:
# loc_df = locations[(locations['Location'] == locationsList[1])]
# loc_df

In [11]:
dummy = pd.DataFrame()
for num in range(0, loc_length):
    loc_df = locations[(locations['Location'] == locationsList[num])]
    if loc_df.shape[0] > 1:
        #Check whether the longitude and latitude are both 0
        loc_df = loc_df.loc[(loc_df['Longitude'] != 0)]
    if num == 0:
        dummy = loc_df
    else:
        dummy = dummy.append(loc_df)

In [12]:
dummy

,Unnamed: 0,Country,City,Location,Longitude,Latitude
0,0,IN,Agartala,"Kunjaban,Agartala-TripuraSPCB",91.288736,23.862828
1,1,IN,Agra,"Sector-3BAvasVikasColony,Agra-UPPCB",77.962370,27.194120
2,2,IN,Agra,"Manoharpur,Agra-UPPCB",78.019360,27.237110
3,3,IN,Agra,"SanjayPalace,Agra-UPPCB",78.005981,27.198658
4,4,IN,Ahmedabad,"Rakhial,Ahmedabad-IITM",72.625775,23.016834
...,...,...,...,...,...,...
421,441,IN,Visakhapatnam,GVMCRamNagar,0.000000,0.000000
422,442,IN,Visakhapatnam,GVMCorporation,0.000000,0.000000
423,443,IN,Visakhapatnam,Visakhapatnam,0.000000,0.000000
424,444,IN,Yadgir,"CollectorOffice,Yadgir-KSPCB",77.142800,16.760200
425,445,IN,Yamunanagar,"GobindPura,YamunaNagar-HSPCB",77.289347,30.148057

In [13]:
locations.to_csv('/Users/preethamvignesh/Desktop/OpenAq_Data/India_Cities_locs_test.csv')